/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    h2 {
        font-size: 26px;
    }
    .events-block-date ul li {
        font-size: 30px; 
    }
    .btn-2 { 
        padding: 10px 17px; 
        font-size: 13px; 
    }
    .contact-button h6 { 
        font-size: 12px;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 576px) and (max-width: 991.98px) {
   
}

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 320px) and (max-width: 767.98px) {
    
    .stats-area {
        padding: 0px 0 40px;
    }
    .instagram-img { 
        column-count: 2;
    }
    .instagram-img li:nth-last-child(1){
        display: none;
    }
    .email-box { 
        margin-bottom: 20px;
    }
    .btn-2 { 
        width: 100%; 
        margin-top: 20px;
        text-align: center;
    }
    .contact-button h6 { 
        display: none;
    }
    .footer-area .footer-col:nth-child(1) {
        order: 1;
    }
    .footer-right-widget {
        text-align: center;
        padding-bottom: 30px;
    }
    .footer-area {
        padding: 20px 10px 0px;
    }
    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        height: 250px;
    }
    .clients-logo li {
        width: 42%;
        margin: 0 10px;
    }
    
    .clients-area {
        padding: 40px 0;
        border-bottom: 1px solid #ccc;
    }
    .footer-right-widget h6 {
        padding-top: 5px;
        line-height: 18px;
    }


}

/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    
}

@media (min-width: 320px) and (max-width: 425px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h6 {
        font-size: 9px;
        line-height: 20px;
    }
    .events-block-date ul li {
        font-size: 18px; 
    }
    .events-block-date ul li:nth-child(1) {
        font-size: 12px; 
    } 
    .events-block-name h2 {
        line-height: 18px; 
    }
    .events-block-name h2 {
        line-height: 14px;
        font-size: 14px;
    }
    .events-block-date ul { 
        padding-right: 7px;
        margin-right: 7px;
    }
    .events-block-name h6 {
        padding-top: 5px; 
        font-size: 10px;
    }
    .instagram-title a { 
        padding: 10px 22px; 
        font-size: 11px;
        margin-bottom: 15px;
    }
    .events-img .btn-1 { 
        display: none;
    }
    .top-logo img {
        width: 90px;
    }
    .top-logo {
        text-align: center;
        width: 30%;
        margin: 0 auto;
    }
    .events-block-date ul { 
        width: 66px;
    }
    .sample-sale-title ul li {
        font-size: 8px;
        padding: 2px 15px;
    }
    .header-menu {
        padding: 25px 0;
    }
    .sample-sale-title {
        text-align: center;
        padding: 30px 0 0;
    }
    .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
        padding: 0;
    }
    .events-block-area .container-fluid {
        margin: 0 !IMPORTANT;
        padding: 0 !important;
        width: 100%;
    }

    .events-block-area .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }


    .events-block-area .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
        padding: 0 !important;
    }
    .events-block-item {
        margin-top: 30px;
    }

    .events-img img {
        min-width: 106% !important;
        position: relative;
        right: 10px;
    }
    .entry-content h2 {
        font-size: 16px; 
    }
    .stats-item svg {
        width: 25px;
        height: 25px;
    }
    ul.clients-logo li img {
        width: 120px;
        height: 120px;
    }

    .footer-left-widget p {
        font-weight: 700;
        padding-top: 25px;
        font-size: 9px;
    }

    .footer-left-widget ul li a {
        font-size: 11px; 
    }
    .footer-right-widget h6 {
        font-size: 12px;
    }
    .clients-logo li {
        width: 120px;
        height: 90px !important;
    }
    .clients-logo {
        width: 100%;
        text-align: center;
    }
    .stats-item {
        margin-top: 30px;
    }
    .form-area {
        background-color: #dcdcdc;
        padding: 10px 10px 5px 10px;
    }
    .members {
        margin-top: 5px;
        font-size: 12px;
    }
    .email-box {
        margin-bottom: 10px;
    }

    .btn-2 { 
        margin-top: 12px; 
    }
    .business-hero {
        padding: 125px 0px; 
    }
    .our-approach-area {
        padding: 20px 0;
    }

    .inventory-solutions-area { 
        padding-top: 40px;
    }

    .our-approach-content ul {
        width: 90%;
        column-count: unset;
    }

    .inventory-solutions-text {
        padding: 20px;
    }

    .reasons-brands-content {
        column-count: unset;
        column-gap: unset;
        padding: 20px;
    }
    .reasons-brands-text::before {
        position: unset; 
    }

    .reasons-brands-number {
        font-size: 20px;
        width: 30px;
        color: #a3a3a3;
    }   

    .reasons-brands-text {
        font-size: 11px; 
    }

    .reasons-brands-area { 
        padding: 40px 0;
    }


    .elementor-element-1cd5192 .clients-logo li {
        width: 85px;
        height: auto !important;
    }
    .elementor-element-1cd5192 ul.clients-logo li img {
        width: 85px;
        height: 85px;
    }

    .elementor-element-1cd5192 .clients-logo {
        margin-top: 0;
    }

}

@media (max-width: 376px) {
     
}